In [2]:
import requests
import pandas as pd
from pprint import pprint

In [3]:
api_key = 'eeec1e46-9491-4fc5-aada-f8cd1955cf46'

In [4]:
url = 'https://api.thedogapi.com/v1/breeds'

In [5]:
doggos = requests.get(url).json()
pprint(doggos[0])

{'bred_for': 'Small rodent hunting, lapdog',
 'breed_group': 'Toy',
 'height': {'imperial': '9 - 11.5', 'metric': '23 - 29'},
 'id': 1,
 'image': {'height': 1199,
           'id': 'BJa4kxc4X',
           'url': 'https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg',
           'width': 1600},
 'life_span': '10 - 12 years',
 'name': 'Affenpinscher',
 'origin': 'Germany, France',
 'reference_image_id': 'BJa4kxc4X',
 'temperament': 'Stubborn, Curious, Playful, Adventurous, Active, Fun-loving',
 'weight': {'imperial': '6 - 13', 'metric': '3 - 6'}}

In [6]:
len(doggos)

172

In [13]:
dogs = []

for puppers in doggos:
    entry = []
    name = puppers['name']
    breedgroup = puppers.get('breed_group','none')
    temperament = puppers.get('temperament', 'none')
    weight = puppers['weight'].get('imperial','none')
    entry.append(name)
    entry.append(breedgroup)
    entry.append(temperament)
    entry.append(weight)
    dogs.append(entry)

In [8]:
# create dataframe
dogs_df = pd.DataFrame(dogs, columns =['Dog Breed', 'Dog Group', 'Temperament', 'Weight'])

In [14]:
# save dogs dataframe to csv file
dogs_df.to_csv(r'C:\Users\chels\OneDrive\Desktop\UNC Boot Camp\PROJECTS\Project-2\Input\dogs_df.csv')

,Dog Breed,Dog Group,Temperament,Weight
0,Affenpinscher,Toy,"Stubborn, Curious, Playful, Adventurous, Activ...",6 - 13
1,Afghan Hound,Hound,"Aloof, Clownish, Dignified, Independent, Happy",50 - 60
2,African Hunting Dog,none,"Wild, Hardworking, Dutiful",44 - 66
3,Airedale Terrier,Terrier,"Outgoing, Friendly, Alert, Confident, Intellig...",40 - 65
4,Akbash Dog,Working,"Loyal, Independent, Intelligent, Brave",90 - 120
...,...,...,...,...
167,Wire Fox Terrier,none,"Fearless, Friendly, Bold, Keen, Alert, Quick",15 - 19
168,Wirehaired Pointing Griffon,Sporting,"Loyal, Gentle, Vigilant, Trainable, Proud",45 - 70
169,Wirehaired Vizsla,Sporting,none,45 - 65
170,Xoloitzcuintli,Non-Sporting,"Cheerful, Alert, Companionable, Intelligent, P...",9 - 31
171,Yorkshire Terrier,Toy,"Bold, Independent, Confident, Intelligent, Cou...",4 - 7

In [10]:
dog_group = dogs_df.groupby('Dog Group')
dog_group.count()

              Dog Breed  Temperament  Weight
Dog Group
                      1            1       1
Herding              21           21      21
Hound                22           22      22
Mixed                 2            2       2
Non-Sporting         17           17      17
Sporting             26           26      26
Terrier              19           19      19
Toy                  18           18      18
Working              30           30      30
none                 16           16      16