### Starter Section
- [x] set up imports
- [x] API - set-up, call, display
- [x] verify at least 100 records

In [1]:
# set-up basic imports
import requests
import pandas as pd
from pprint import pprint

# set-up imports for creating SQL tables
import numpy as np
from itertools import chain

#set-up imports for transferring table data to SQL (postgres)
from sqlalchemy import create_engine

In [2]:
# API KEY - though it's not needed?
api_key = 'eeec1e46-9491-4fc5-aada-f8cd1955cf46'

In [3]:
#API URL
url = 'https://api.thedogapi.com/v1/breeds'

In [4]:
# get API results
doggos = requests.get(url).json()

In [5]:
# display raw json

# doggos

In [6]:
# checking that records meet 100 minimum requirement

len(doggos)

172

### Data Cleaning
- [x] get list of all attributes used and count to evaluate columns to be used
- [x] reference image id VS image id (resolved - deleted image id)

In [7]:
# create a list of all attributes for dataframe to evaluate appropriate columns for dataframe
all_attributes = []
for group in doggos:
    for line in group:
        if line not in all_attributes:
            all_attributes.append(line)

# count occurrences of attributes
att_count = {}
for attribute in all_attributes:
    count = 0
    for group in doggos:
        if attribute in group:
            count += 1
            att_count[attribute] = count
           
# all_attributes
# att_count

In [8]:
# check reference image id VS image id to see if either are missing
# RESULT: none were missing (counter = 0), so deleted image id 

# OLD CODE taken out of dogs list  --  img_id = puppers['image'].get('id','none')

# counter = 0
# for index, row in dogs_df.iterrows():
#     if row[9] != row[10]:
#         counter += 1
# print(counter)

### Create Main Dataframe
- [x] set-up: for loops to create list of lists
- [x] dataframe: assign columns
- [x] save dataframe to sql

In [9]:
# Set-up Dog Dataframe (list of lists)
dogs = []

for puppers in doggos:
    entry = []
    name = puppers.get('name','none')
    breedgroup = puppers.get('breed_group','none')
    temperament = puppers.get('temperament', 'none')
    weight = puppers['weight'].get('imperial','none')
    height = puppers['height'].get('imperial', 'none')
    bred_for = puppers.get('bred_for','none')
    life_span = puppers.get('life_span','none')
    origin = puppers.get('origin','none')
    country_code = puppers.get('country_code')
    ref_img_id = puppers.get('reference_image_id', 'none')
    
    entry.append(name)
    entry.append(breedgroup)
    entry.append(temperament)
    entry.append(weight)
    entry.append(height)
    entry.append(bred_for)
    entry.append(life_span)
    entry.append(origin)
    entry.append(country_code)
    entry.append(ref_img_id)
    dogs.append(entry)



# THESE are attributes I have not included
#  'description'
#  'history'
# 'image id'

In [10]:
# create dataframe
dogs_df = pd.DataFrame(dogs, columns =['Dog Breed', 
                                       'Breed Group', 
                                       'Temperament', 
                                       'Weight', 
                                       'Height', 
                                       'Bred For', 
                                       'Life Span', 
                                       'Origin', 
                                       'Country Code',
                                       'Reference Image ID'
                                      ])

dogs_df['Breed Group'] = dogs_df['Breed Group'].replace([''],'none')
dogs_df = dogs_df.reset_index()
dogs_df = dogs_df.rename(columns={'index': 'Breed ID'})
dogs_df.head(20)

# dogs_df_id = dogs_df.reset_index()
# dogs_df_id = dogs_df_id.rename(columns={'index': 'Breed ID'})

# dogs_df_id.head()

,Breed ID,Dog Breed,Breed Group,Temperament,Weight,Height,Bred For,Life Span,Origin,Country Code,Reference Image ID
0,0,Affenpinscher,Toy,"Stubborn, Curious, Playful, Adventurous, Activ...",6 - 13,9 - 11.5,"Small rodent hunting, lapdog",10 - 12 years,"Germany, France",None,BJa4kxc4X
1,1,Afghan Hound,Hound,"Aloof, Clownish, Dignified, Independent, Happy",50 - 60,25 - 27,Coursing and hunting,10 - 13 years,"Afghanistan, Iran, Pakistan",AG,hMyT4CDXR
2,2,African Hunting Dog,none,"Wild, Hardworking, Dutiful",44 - 66,30,A wild pack animal,11 years,,None,rkiByec47
3,3,Airedale Terrier,Terrier,"Outgoing, Friendly, Alert, Confident, Intellig...",40 - 65,21 - 23,"Badger, otter hunting",10 - 13 years,"United Kingdom, England",None,1-7cgoZSh
4,4,Akbash Dog,Working,"Loyal, Independent, Intelligent, Brave",90 - 120,28 - 34,Sheep guarding,10 - 12 years,,None,26pHT3Qk7
5,5,Akita,Working,"Docile, Alert, Responsive, Dignified, Composed...",65 - 115,24 - 28,Hunting bears,10 - 14 years,none,None,BFRYBufpm
6,6,Alapaha Blue Blood Bulldog,Mixed,"Loving, Protective, Trainable, Dutiful, Respon...",55 - 90,18 - 24,Guarding,12 - 13 years,none,None,33mJ-V3RX
7,7,Alaskan Husky,Mixed,"Friendly, Energetic, Loyal, Gentle, Confident",38 - 50,23 - 26,Sled pulling,10 - 13 years,none,None,-HgpNnGXl
8,8,Alaskan Malamute,Working,"Friendly, Affectionate, Devoted, Loyal, Dignif...",65 - 100,23 - 25,"Hauling heavy freight, Sled pulling",12 - 15 years,none,None,dW5UucTIW
9,9,American Bulldog,Working,"Friendly, Assertive, Energetic, Loyal, Gentle,...",60 - 120,22 - 27,none,10 - 12 years,none,None,pk1AAdloG
10,10,American Bully,none,"Strong Willed, Stubborn, Friendly, Clownish, A...",30 - 150,14 - 17,Family companion dog,8 – 15 years,none,US,sqQJDtbpY
11,11,American Eskimo Dog,Non-Sporting,"Friendly, Alert, Reserved, Intelligent, Protec...",20 - 40,15 - 19,Circus performer,12 - 15 years,none,US,Bymjyec4m
12,12,American Eskimo Dog (Miniature),none,"Friendly, Alert, Reserved, Intelligent, Protec...",7 - 10,9 - 12,Companionship,13 – 15 years,none,US,_gn8GLrE6
13,13,American Foxhound,Hound,"Kind, Sweet-Tempered, Loyal, Independent, Inte...",65 - 75,21 - 28,"Fox hunting, scent hound",8 - 15 years,none,US,S14n1x9NQ
14,14,American Pit Bull Terrier,Terrier,"Strong Willed, Stubborn, Friendly, Clownish, A...",30 - 60,17 - 21,Fighting,10 - 15 years,none,US,HkC31gcNm
15,15,American Staffordshire Terrier,Terrier,"Tenacious, Friendly, Devoted, Loyal, Attentive...",50 - 60,17 - 19,,12 - 15 years,none,US,rJIakgc4m
16,16,American Water Spaniel,Sporting,"Friendly, Energetic, Obedient, Intelligent, Pr...",25 - 45,15 - 18,Bird flushing and retrieving,10 - 12 years,none,US,SkmRJl9VQ
17,17,Anatolian Shepherd Dog,Working,"Steady, Bold, Independent, Confident, Intellig...",80 - 150,27 - 29,Livestock herding,11 - 13 years,none,None,BJT0Jx5Nm
18,18,Appenzeller Sennenhund,none,"Reliable, Fearless, Energetic, Lively, Self-as...",48 - 55,20 - 22,"Herding livestock, pulling carts, and guarding...",12 – 14 years,none,None,HkNkxlqEX
19,19,Australian Cattle Dog,Herding,"Cautious, Energetic, Loyal, Obedient, Protecti...",44 - 62,17 - 20,"Cattle herding, herding trials",12 - 14 years,none,AU,IBkYVm4v1

### Temperaments
- [x] create list of all temperaments (resolved: 124 unique temperaments used)
- [x] count the occurrence of each temperament in dataset
- [x] sort occurrences from greatest occurrence to least
- [x] create temperament (columns) V dog breeds (rows) table

In [11]:
# create list of all temperaments (listed once)
temp_list = []
for dog in doggos:
    if 'temperament' in dog:
        temp = dog['temperament'].split(',')
        for att in temp:
            att = att.strip()
            if att not in temp_list:
                temp_list.append(att)
                
# print(len(temp_list))
# pprint(temp_list)

In [12]:
# creating temperament id && name table
temps_df = pd.DataFrame({'temperament_name': temp_list})
temps_df = temps_df.sort_values(by='temperament_name').reset_index(drop=True)
temps_df.index.name = 'temperament_id'
temps_df = temps_df.reset_index()

# temps_df

In [13]:
group_list = []
for group in dogs_df['Breed Group']:
    if group not in group_list:
            group_list.append(group)

group_df = pd.DataFrame(group_list).reset_index()
group_df = group_df.rename(columns={'index': 'group_id', 0: 'group_name'})
group_df

   group_id    group_name
0         0           Toy
1         1         Hound
2         2          none
3         3       Terrier
4         4       Working
5         5         Mixed
6         6  Non-Sporting
7         7      Sporting
8         8       Herding

In [14]:
breeds = {'breed_id': dogs_df['Breed ID'], 
          'breed_name': dogs_df['Dog Breed'], 
          'min_height': 1, 
          'max_height': 1, 
          'min_weight': 1, 
          'max_weight': 1, 
          'min_life': 1, 
          'max_life': 1, 
          'group': dogs_df['Breed Group']}
breed_df = pd.DataFrame(breeds)

for group in group_df.index:
    breed_df = breed_df.replace(to_replace=group_df.iloc[group]['group_name'], value=group_df.loc[group]['group_id'])
breed_df

,breed_id,breed_name,min_height,max_height,min_weight,max_weight,min_life,max_life,group
0,0,Affenpinscher,1,1,1,1,1,1,0
1,1,Afghan Hound,1,1,1,1,1,1,1
2,2,African Hunting Dog,1,1,1,1,1,1,2
3,3,Airedale Terrier,1,1,1,1,1,1,3
4,4,Akbash Dog,1,1,1,1,1,1,4
...,...,...,...,...,...,...,...,...,...
167,167,Wire Fox Terrier,1,1,1,1,1,1,2
168,168,Wirehaired Pointing Griffon,1,1,1,1,1,1,7
169,169,Wirehaired Vizsla,1,1,1,1,1,1,7
170,170,Xoloitzcuintli,1,1,1,1,1,1,6
171,171,Yorkshire Terrier,1,1,1,1,1,1,0

In [15]:
# create breed V temperament table, use https://stackoverflow.com/questions/50731229/split-cell-into-multiple-rows-in-pandas-dataframe
# use 'lookup' to replace breed with id - BOOM there's middle table (reference 62 from ETL project)

# return list from series of comma-separated strings
def chaining(s):
    return list(chain.from_iterable(s.str.split(',')))

# calculate lengths of splits
temps = dogs_df['Temperament'].str.split(',').map(len)

# create new dataframe, repeating or chaining as appropriate
dogs_temps = pd.DataFrame({'breed_id': np.repeat(dogs_df['Breed ID'], temps),
                    'temperament_name': chaining(dogs_df['Temperament'])})
dogs_temps = dogs_temps.reset_index(drop=True)

# dogs_temps

In [16]:
merged = dogs_temps.merge(temps_df, how='inner', on='temperament_name')
breed_temp_ids = merged[['breed_id', 'temperament_id']]

# breed_temp_ids

In [17]:
# bred_for 
purpose_df = dogs_df

# purpose_id = 
# purpose =

### Download tables to SQL

In [18]:
# enter password for postgres
rds_connection_string = "postgres:postgres@localhost:5432/Project_2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [19]:
# Add data to empty tables.
temps_df.to_sql(name='temperament', con=engine, if_exists='append', index=False)
breed_df.to_sql(name='breed', con=engine, if_exists='append', index=False)
breed_temp_ids.to_sql(name='breed_temperament', con=engine, if_exists='append', index=False)
group_df.to_sql(name='groups', con=engine, if_exists='append', index=False)

### EXTRAS: Group-Bys && Counts
- [x]  group by breed group
- [ ]  group by weight
    - split string into min/max, store as min max vals (if 1 value min/max same, if 0 'no age' or NaN)
    - create list of weights based on lowest highest 
    - create new table with weights as columns V names as rows, t/f values 
    - count weights 
- [ ]  group by height
    - split string into min/max, store as min max vals (if 1 value then min/max same, if 0 then 'no age' or NaN)
    - create list of heights based on lowest + highest
    - create new table with heights as columns V names as rows, t/f values
    - count heights 
- [x] count temperament occurrences
    - create a count of all temperaments, store in dictionary
    - create a dataframe

In [20]:
# Breed group
gb_breed_group = dogs_df.groupby('Breed Group')
breed_groups = pd.DataFrame(gb_breed_group['Dog Breed'].count()).reset_index().drop([0])

# breed_groups

In [21]:
# count number of times temperaments appear in dataset
temp_counts = {}

for temperament in temp_list:
    counter = 0
    for dog in doggos:
        if 'temperament' in dog:
            if temperament in dog['temperament']:
                counter += 1
                temp_counts[temperament] = counter

# create df
temp_counts_df = pd.DataFrame(temp_counts.items(), columns=['Temperament', 'Count'])
# temp_counts_df

## OPTIONAL : sorted temperaments by highest occurrences
# sort temp_counts from greatest to least

# temp_count_sort = pd.DataFrame.from_dict(temp_counts, 
#                        orient='index', 
#                        columns=['Temperament Count']).sort_values(by='Temperament Count', 
#                                                                   ascending=False)
# temp_count_sort.head(30)

In [22]:
## EXTRAS?

## create dataframe of temperaments, each dog as rows temps as columns
# list of lists, dog name as first list value, t/f for each temperament
all_dogs = []
for dog in doggos:
    dog_list = [dog['name']]
    if 'temperament' in dog:
        for temperament in temp_list:
            if temperament in dog['temperament']:
                dog_list.append('True')
            else:
                dog_list.append('False')
    all_dogs.append(dog_list)

# create table with list of lists, add 'Name' to temp_list to accommodate first list value
column_names = ['Name'] + temp_list
temp_dogs_table = pd.DataFrame(all_dogs, columns= column_names)
# temp_dogs_table